
@{
    for (int ctr = 1; ctr < 10; ctr++)
    {
        Response.Write("Bubble Sort is" + ctr + "=" + ViewBag.num[ctr] + "<br>");
    }
}


@*<h2>Bubble Sorted Numbers</h2>
    @foreach (int Num in ViewBag.List)

    {
        <li> @Num </li>


    }*@

